extends layouts/main-layout.pug

block styles

block content
    main
        form(action="/add-product", method="post")
            div.formBox
                label(for="") Add Product
                br
                input(type="text",name="title",placeholder="eg: chocolate")
                br
                button(type="submit") submit