<%- include('includes/head.ejs'); -%>    
<link rel="stylesheet" href="/css/main.css">
<%- include('includes/head2.ejs'); -%>
    <h1 class="header">Admin Home</h1>
    <nav>
        <a href="/admin/add-product">Add product</a>
        <a href="/admin">Admin-Home</a>
        <a href="/">Shop</a>
    </nav>
<%- include('includes/foot.ejs'); -%>