<%- include('includes/head.ejs'); -%>    
<link rel="stylesheet" href="/css/main.css">
<%- include('includes/head2.ejs'); -%>
    <h1 class="header">Admin Home</h1>
    <nav>
        <a href="/admin/add-product">Add product</a>
        <a href="/admin">Admin-Home</a>
        <a href="/">Shop</a>
    </nav>
    <main>
        <iframe src="http://localhost:3000" style="width: 30vw;height: 80vh;display: block; margin: auto;"></iframe>
    </main>
<%- include('includes/foot.ejs'); -%>