<%- include('includes/head.ejs'); -%>    
<link rel="stylesheet" href="/css/main.css">
<%- include('includes/head2.ejs'); -%>
    <h1 class="header">Shop</h1>
    <nav>
        <a href="/">shop</a>
    </nav>
    <p>
        The List of Products is:<br>
        <%for(let p of products)
            {
        %>
        <ul>
            <li><%=p.title%></li>
        </ul>
        <%}%>
    </p>
<%- include('includes/foot.ejs'); -%>