
div.container
{
    display: flex;
    flex-wrap: wrap;
    padding: 10px auto;
}

div.box
{
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 5px 10px #888888;
}
img.productImg
{
    max-width: 100%;
    max-height: 30vh;
    display: block;
    margin: 10px auto;
}

.bttns a:link,.bttns a:visited, .bttns a:hover
{
    width: 30%;
    margin:auto;
    text-align: center;
    text-decoration: none;
     padding: 10px 20px;
     background-color: #bcbcbc;
     border: 2px solid black;
    border-radius: 3px;
}
.bttns a:hover
{
    background-color: #888888;
}
table.detailsTable
{
    display: block; 
    margin:30px auto;
    width: 90%;
}

@media screen and (min-width: 700px)
{
    div.box
    {
        width: 30%;
    }
    table.detailsTable
    {
        width: 50%;
    }
    
}
